biopython==1.76
PyQt5==5.15.1
ete3==3.1.1
glob2==0.5
matplotlib==3.2.1
mpmath==0.19
numpy==1.17.4
pyaml==16.12.2
-e git+https://github.com/sztal/pybdm@4bedea1200998a8978ada1a708b4e1f98aacb2d8#egg=pybdm
scipy==1.4.1
seaborn==0.10.1
statsmodels==0.8.0
scikit-bio==0.5.6
tensorflow==2.5.0
xgboost==1.2.1
scipy==1.5.2